      header, footer, body {
       background-color:#023020;
      }

      nav {
       background-color:#023020;
       color: #50C878;
       text-align: right;
      }

      main {
        background-color:#2C8139;
      }

      a:link, a:visited{
         color:#50C878;
         text-decoration: none;
      }

      a:hover, a:active{
        color:#8BE796;
      }

      hr{
        border-width: 0em;
        border-height: 100em;
        background-image: url(pictures/indexPicture.jpg);
        background-repeat: no-repeat;
      }

      label{
        color: #fff;
      }

      h1 {
        font-size:50px;
        font-weight: normal;
        color:#44A664;
        text-shadow: 4px 4px #7A5A2A;
        text-align: center;
        font-family: Helvetica, Verdana, sans-serif;
      }

       h2 {
        text-align: center;
        font-family: Garamond, serif;
        font-weight: bold;
       }

       p{
         font-family: Arial, sans-serif;
        }

      .post1{
        background-color: #50C878;
        border: 1px solid #50C878;
        border-radius:15px 50px;
      }

      .post2{
        background-color: #50C878;
        border: 1px solid #50C878;
        border-radius:50px 15px;
      }

      .content{
        margin-top: 30px;
        margin-right: 80px;
        margin-left: 80px;
        text-align: left;
      }
