      header, footer, body {
       background-color:#023020;
      }

      nav {
       background-color:#023020;
       color: #50C878;
       text-align: right;
      }

      main {
        background-color:#2C8139;
      }

      a:link, a:visited{
         color:#50C878;
         text-decoration: none;
      }

      a:hover, a:active{
        color:#8BE796;
      }

      label{
        color: #fff;
      }

      table{
        border: 0.5px solid #ffffff;
        width: 250px;
      }

      tr{
        height: 50px;
        background-color: #000000;
      }

      td{
        width: 50px;
      }

      h1 {
        font-size:50px;
        font-weight: normal;
        color:#44A664;
        text-shadow: 4px 4px #745100;
        text-align: center;
        font-family: Helvetica, Verdana, sans-serif;
      }

       h2 {
        text-align: center;
        font-family: Garamond, serif;
       }

      p.content{
        margin-top: 30px;
        margin-right: 80px;
        margin-left: 80px;
        text-align: left;
      }
