      header, footer, body {
       background-color:#1D1E2C;
      }

      nav {
       background-color:#1D1E2C;
       text-align: center;
      }

      main {
        background-color:#816180;
      }

      img.icon{
         padding-top: 5px;
      }

      a:link, a:visited{
         background-color:#B14E98;
         color:#F7EBEC;
         padding: 10px 15px;
         text-align: center;
         border-radius: 15px;
         text-decoration: none;
      }

      a:hover, a:active{
        background-color:#893D76;
      }

      a.noButton{

      }

      table{
        border: 0.5px solid #ffffff;
        width: 250px;
      }

      tr{
        height: 50px;
        background-color: #000000;
      }

      td{
        width: 50px;
      }

      h1 {
        font-size:60px;
        color:#F7EBEC;
        text-shadow: 0 0 30px #816180;
        text-align: center;
      }

       h2 {
        text-align: center;
       }

      .content{
        margin-top: 30px;
        margin-right: 80px;
        margin-left: 80px;
        text-align: left;
      }

      .centerImage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid black;
      }


      div.classContainer {
        width:95%;
        overflow:auto;
        //margin-left: 40px;
        //margin-right: 40px;
      }

     div.classContainer div {
       width:45%;  
       float:left;
     }

      @media screen and (max-width: 600px) {
            img{
                width: 100px;
                height: 200px;
            }
            body{
                background-color: yellow;
            }
            div.classContainer img {
                   width: 100%;  
                   
            }
      }
